body {
  background-color: #ece6e2;
}

.spinner {
  width: 3rem; 
  height: 3rem; 
  color: #e07a5f;
}

.rv-text {
  white-space: unset !important;
  overflow: visible !important;
  word-break: unset !important;
}

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?l6smau');
  src:  url('icomoon.eot?l6smau#iefix') format('embedded-opentype'),
    url('icomoon.ttf?l6smau') format('truetype'),
    url('icomoon.woff?l6smau') format('woff'),
    url('icomoon.svg?l6smau#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e900";
}
.icon-book:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-reddit:before {
  content: "\f1a1";
}

.hover-card{
  transition: transform 0.2s ease-out;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

.hover-social{
  transition: transform 0.2s ease-out;
}

.summary{
  height:75px;
  overflow: hidden;
}

.hover-card:hover {
  transform: scale(1.07);
}

.hover-social:hover {
  transform: scale(1.15);
}

.popover-header {
  font-size: 0.8rem;
}